Contribution/~$Transformation.xlsx
/Contribution/SungarFolon/OpenType-PS
/Contribution/Sungar Folon.backup
/Contribution/KeyboardLayout/icemanju
/Contribution/SungarFolon/OpenType-TT
/Release/Keyboard Layouts/Manju hergen
/Release/Keyboard Layouts/Sibe hergen
Contribution/KeyboardLayout/Screenshot 2025-09-26 095950.png
/Contribution/SungarFolon/Sungar Folon.backup
/Contribution/SungarUrga/Sungar Urga.backup

/Contribution/SungarUrga/SungarUrga/OpenType-PS
*.tmp
/Contribution/SungarUrga/SungarFolon/OpenType-PS
/Contribution/SungarFolon/SungarFolonNew/OpenType-PS
/Contribution/SungarFolon/SungarFolon/OpenType-PS
